body{
  text-align:center;
  background:linear-gradient(to top right, #7B6AFF,#B4C4FF) no-repeat;
  background-size: cover;
  min-height:96vh;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
hr{
  margin-top: -10px;
  height:1.5px;
  background-color: #615B5B;
  border:none;
}
h1{
  font-family: "Playfair Display",serif,sans-serif;
  color:white;
  text-shadow: 0 0 15px black;
}

.box{
  background-color: ghostwhite;
  height: 35px;
  width: 280px;
  font-size: 18px;
  border: 1px solid #505050;
  border-radius:12px;
}
.password-box{
  position: relative;
  display:inline-block;
  border:1px solid #505050;
  border-radius: 12px;
  
}
.flex-items{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  flex-grow:1;
  flex-shrink:1;
}
#eye-icon{
  width:30px;
  margin-right: 5px;
  position:absolute;
  top:7%;
  right:10px;
  cursor: pointer;
}
#password-area{
  width: 240px;
  padding-right: 40px;
  border-style: none;
}
#passwordmsg{
  display:block;
  margin-left: auto;
  margin-right:auto;
}
#name-area{
  margin-top: 37px;
}
#btn{
  margin-top:40px;
  height: 40px;
  width: 280px;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  color: whitesmoke;
  border: 1px solid #000000;
  border-radius: 20px;
}
.link{
  text-decoration: none;
  color: white;
  display: block;
  margin-top:15px;
  text-shadow: 0 0 20px black;
  font-size:17px;
  margin-left:130px;
  
}
.logo-btn{
  padding: 0px;
  border: none;
  width: 50px;
  height:50px;
  border-radius: 100%;
  cursor: pointer;
}
.logo-img{
  width: 70%;
  height: 70%;
  object-fit: contain;
  padding-top: 4.5px;
}
.links-btns{
  display:flex;
  justify-content: space-evenly;
  margin-top: 30px;
}